{% extends "Store/layout.html" %}

{% block title %}Products{% endblock %}

{% block content %}

<h2 class="mb-4">Products</h2>

<form method="GET">
    <div class="row mb-4">
        <div class="col-md-4">
            <input class="form-control" name="search" placeholder="Search Product">
        </div>
        
        <div class="col-md-3">
            <select class="form-select" name="category">
                <option value="">All Categories</option>
                {% for category in categories %}
                <option value="{{ category.id }}">{{ category.category_name }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="col-md-3">
            <select class="form-select" name="brand">
                <option value="">All Brands</option>
                {% for brand in brands %}
                <option value="{{ brand.id }}">{{ brand.brand_name }}</option>
                {% endfor %}
            </select>
        </div>
        
        <div class="col-md-2">
            <button class="btn btn-primary w-100">Filter</button>
        </div>
    </div>
</form>

<div class="row">
    {% for product in products %}
    <div class="col-lg-3 mb-4">
        <div class="card shadow-sm h-100">
            {% if product.image %}
            <img src="{{ product.image.url }}" class="card-img-top" style="height:220px; object-fit:cover;">
            {% endif %}
            
            <div class="card-body">
                <h5>{{ product.product_name }}</h5>
                <p class="text-success">Tk {{ product.price }}</p>
                <p>Stock : {{ product.stock_quantity }}</p>
            </div>
            
            <div class="card-footer">
                <a href="{% url 'product_details' product.id %}" class="btn btn-primary w-100">View Details</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}